{% extends "base.html" %}
{% block main %}
<section class="pin">
  <h1>
    <a href="../../index.html">Collections</a> &gt;
    <a href="../../collections/{{ collection.slug }}/index.html">{{ collection.title }}</a> &gt; 
    {{ pin.caption }}
  </h1>

  <div class="media">
  {% if pin.type == 'photo' %}
  <img src="image.jpg">
  {% elif pin.type == 'video' %}
  <video src="media.mp4" controls>
  {% elif pin.type == 'audio' %}
  <audio src="media.mp3" controls>
  {% endif %}
  </div>

</section>

<section>

  <h2>Description</h2>
  <p class="description">
    {{ pin.description | safe }}
  </p>

  {% if pin.comments %}
  <h2>Comments</h2>
  {% for comment in pin.comments %}
  <div class="comment">
    <span class="name">{{ comment.user_name }}</span><br>
    <span class="created">{{ comment.date_formated }}</span><br>
    <span class="content">{{ comment['copy'] | safe }}</span>
  </div>
  {% endfor %}
  {% endif %}

</section>

<section class="metadata">

  <dl>

    {% if pin.location %}
    <dt>Location</dt>
    <dd>
     {{ pin.location.raw }} 
     <a href="../../map/index.html#{{ pin.id }}">
        ({{ pin.location.lat }}, {{ pin.location.lng }})
     </a>
    </dd>
    {% endif %}

    {% if pin.places %}
    <dt>Places</dt>
    <dd>
      {% for place in pin.places %}
        {{ place.title }}{{ ", " if not loop.last else "" }}
      {% endfor %}
    </dd>
    {% endif %}

    {% if pin.license %}
    <dt>License</dt>
    <dd><a href="{{ pin.license_key }}">{{ pin.license }}</a></dd>
    {% endif %}

    {% if pin.link %}
    <dt>Link</dt>
    <dd><a href="{{ pin.link }}">{{ pin.link }}</a></dd>
    {% endif %}

    {% if pin.type == "video" or pin.type == "audio" %}
    <dt>Original Media Link</dt>
    <dd><a href="{{ pin.display.content }}">{{ pin.display.content }}</a></dd>
    {% endif %}

    {% if pin.tags %}
    <dt>Tags</dt>
    <dd>
      {% for tag in pin.tags %}
      <a href="../../tags/{{ tag.text }}.html">{{ tag.text }}</a>{{ ", " if not loop.last else "" }}
      {% endfor %}
    </dd>
    {% endif %}

    {% if pin.date_added %}
    <dt>Date Added</dt>
    <dd>{{ pin.date_added }}</dd>
    {% endif %}

    {% if pin.date_taken %}
    <dt>Date Taken</dt>
    <dd>{{ pin.date_taken }}</dd>
    {% endif %}

    {% if pin.author %}
    <dt>Author</dt>
    <dd>{{ pin.author }}</dd>
    {% endif %}

    {% if pin.repository %}
    <dt>Repository</dt>
    <dd>{{ pin.repository }}</dd>
    {% endif %}

    {% if pin.notes %}
    <dt>Notes</dt>
    <dd>{{ pin.notes }}</dd>
    {% endif %}

    {% if pin.rights_statement %}
    <dt>Rights Statement</dt>
    <dd>{{ pin.rights_statement }}</dd>
    {% endif %}

    <dt>Historypin Link</dt>
    <dd>
      <a href="https://www.historypin.org/en/person/{{ user.id }}/explore/pin/{{ pin.id }}">
        https://www.historypin.org/en/person/{{ user.id }}/explore/pin/{{ pin.id }}
      </a>
    </dd>

  </dl>
</section>

{% endblock %}
